html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;

    font-family: Arial, sans-serif;
    font-size: 15px;
}

/* Задаем рамки размеров по блоку (чтоб не толстел блок сверх меры) */
/* 
Звездочка - стили для ВСЕХ тегов
*/
* {
    box-sizing: border-box;
}

.card {
    position: relative;
    min-width: 295px;
    max-width: 590px;
    width: 100%;
    background: chocolate;
}

.card > img {
    display: block;
    width: 100%;
    height: auto;
}

.card.bg {
    height: 500px;

    background-image: url("card.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.params {
    position: absolute;
    left: 0;
    bottom: 7%;

    width: 100%;
    height: 8%;

    display: flex;
    justify-content: center;
    gap: 2%;
}

.param {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 16%;
    height: 100%;

    border-radius: 5px;

    color: white;
    font-size: 400%;
    font-weight: bold;
}

.card > .spells {
    position: absolute;
    background: darkgoldenrod;
    padding: 15px;
    border: 5px solid #fff;
    border-radius: 5px;

    left: 14%;
    bottom: 9%;

    width: 74%;
    height: 33%;
}

.spell {
    display: grid;
    grid-template-columns: max-content 1fr max-content;

    font-size: 150%;
}

.spell__letter,
.spell__name,
.spell__guild-img {
    align-self: end;
}

.spell__guild-img {
    display: flex;
    align-items: flex-end;
}

.spell > div .value {
    font-weight: bold;
    font-size: 180%;
}

.spell__letter {
    color: red;
    font-size: 250%;
    font-weight: bold;
    line-height: 48px;

    margin-right: 10px;
}

.spell-params {
    grid-row: 2;
    grid-column: 1/3;

    display: flex;
    gap: 20px;
}

.spell__description {
    grid-row: 3;
    grid-column: 1/4;
}

/* .spell-params > div:not(:first-child) {
    margin-left: 20px;
} */

.detachment {
    transform: rotate(270deg);
    position: absolute;
    background: chocolate;
    left: -9%;
    top: 39%;
    font-size: 170%;
    border-radius: 5px;
    font-weight: bold;
}

.name-soldier {
    transform: rotate(270deg);
    position: absolute;
    background: chocolate;
    left: 74%;
    top: 43%;
    font-size: 180%;
    border-radius: 5px;
    white-space: nowrap;
}

.param.hc {
    background: red;
}
.param.shoot {
    background: cornflowerblue;
}
.param.magic-defense {
    background: gold;
}
.param.hp {
    background: limegreen;
}

/*
.param:nth-child(2) {
    background: yellow;
}

.param:nth-child(odd) {
    background: red;
}

.param:nth-child(even) {
    background: chartreuse;
} 
*/

.board-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-width: 800px;
}

.cell {
    position: relative;

    max-width: 294px;
    max-height: 294px;
    background-color: aqua;
    border: 1px solid red;
}

.cell::before{
    content: "";
    padding-bottom: 100%;
    display: block;
}

.cell__number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .card {
        font-size: 15px;
    }

    .param {
        font-size: 300%;
    }
}

@media screen and (max-width: 600px) {
    .card {
        font-size: 13px;
    }
}